/* Main CSS file */

@import "_example/_example.css";

#App {
  
}

.AppContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.routerWrapper {
  flex-grow: 1;
}
