.DashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clusterNumbers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.speedoBoxes {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.speedoes {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

iframe {
  padding-top: 20px;
  padding-bottom: 10px;
}
