.DashboardContainer {
  display: flex;
  flex-direction: column;
}

.linegraph {
  border: 1px solid #979698;
  border-radius: 4px;
}

#linegraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#speedoemeters {
  display: flex;
  flex-direction: row;
}

.speedo {
  height: 200px;
  width: 20%;
  border: 1px solid #979698;
  border-radius: 4px;
}
