.DashboardContainer {
  display: flex;
  flex-direction: column;
}

.linegraph {
  width: 550px;
  height: 200px;
  margin-top: 10px;
  border: 1px solid #979698;
  border-radius: 4px;
}

.grafanaColumn {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#grafanaDisplays {
  width: 1130px;

  display: flex;
  justify-content: space-between;
}

#speedometers {
  width: 1130px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.speedo {
  height: 160px;
  width: 265px;
  border: 1px solid #979698;
  border-radius: 4px;
}

.speedoRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}