.nodesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.nodesContainerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nodesContainerMainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nodesContainerSpeedometerColumn {

}

.nodesContainerList {

}

List {
  height: 400px;
  width: 500px;
}