.podsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.podsContainerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.podsContainerMain {
  width: 1130px;
  height: 350px;
  margin-top: 50px;
  display: flex;
}

.podsiframe {
  border: 1px solid #979698;
  border-radius: 4px;
}

.podsContainerList {
  width: 1130px;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.podsContainerList:first-child {
  margin: auto;
}

.podsContainerList h3 {
  color: #f1f0ef;
}

#columnLeft {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#columnRight {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#list {
  width: 1130px;
}