.containersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
  margin-left: 50px;
}

.containersContainerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containersContainerList {
  margin-top: 50px;
  width: 1165px;
}