.pageNames {
  color: rgb(247, 246, 248);
}

.pageNames a {
  color: rgb(248, 245, 245);
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
}

/* .selected {
  color: rgb(241, 9, 9);
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
  background-color:rgb(235, 63, 143)
} */

.divider {
  background: grey;
}

.logo svg {
  margin-left: 10px;
  margin-bottom: 20px
}

#box {
  background-color: rgb(235, 63, 143) !important;
}