/* Example stylesheet */
@media screen and (prefers-color-scheme: light),
  screen and (prefers-color-scheme: no-preference) {
  /* Light theme */
  body {
    color: #000;
    background-color: rgba(22, 21, 25, 1);
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
}

@media screen and (prefers-color-scheme: dark) {
  /* Dark theme */
  body {
    color: #201d1e;
    background-color: rgba(22, 21, 25, 1);
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
}


