/* Example stylesheet */
@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
  /* Light theme */
  body{
    color: #000;
    background-color: #3d393b;
    margin: 0;
  }
}

@media screen and (prefers-color-scheme: dark) {
  /* Dark theme */
  body {
    color: #201d1e;
    background-color: #000;
    margin: 0;
  }
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}
